language: c
sudo: false
addons:
  apt:
    packages:
    - texlive-full
    - texlive-xetex 
    - texlive-bibtex-extra
    - texlive-fonts-recommended
    - texlive-latex-recommended
    - lmodern
    - fonts-ipafont
script:
 - make
